<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_robot">
  <!--
    This is a convenience top-level xacro which loads the macro for the UR5e
    which defines the default values for the various "parameters files"
    parameters for a UR5e.

    This file is only useful when loading a stand-alone, completely isolated
    robot with only default values for all parameters such as the kinematics,
    visual and physical parameters and joint limits.

    This file is not intended to be integrated into a larger scene or other
    composite xacro.

    Instead, xacro:include 'inc/ur5e_macro.xacro' and override the defaults
    for the arguments to that macro.

    Refer to 'inc/ur_macro.xacro' for more information.
  -->
  <xacro:macro name="ur5" params="ur5_prefix">
    <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro"/>
    <xacro:include filename="$(find ur_description)/urdf/eef.xacro"/>

    <!-- Configure self collision properties per link -->
    <gazebo reference="${ur5_prefix}shoulder_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${ur5_prefix}upper_arm_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${ur5_prefix}forearm_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${ur5_prefix}wrist_1_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${ur5_prefix}wrist_3_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${ur5_prefix}wrist_2_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${ur5_prefix}ee_link">
      <selfCollide>true</selfCollide>
    </gazebo>

    <gazebo>
     <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
           <arm>
             <arm_name>${ur5_prefix}ur5_gripper</arm_name>
             <palm_link>${ur5_prefix}wrist_3_link</palm_link>
             <gripper_link>${ur5_prefix}robotiq_85_base_link</gripper_link>
             <gripper_link>${ur5_prefix}robotiq_85_left_knuckle_link</gripper_link>
             <gripper_link>${ur5_prefix}robotiq_85_right_knuckle_link</gripper_link>
             <gripper_link>${ur5_prefix}robotiq_85_left_finger_link</gripper_link>
             <gripper_link>${ur5_prefix}robotiq_85_right_finger_link</gripper_link>
             <gripper_link>${ur5_prefix}robotiq_85_left_inner_knuckle_link</gripper_link>
             <gripper_link>${ur5_prefix}robotiq_85_right_inner_knuckle_link</gripper_link>
             <gripper_link>${ur5_prefix}robotiq_85_left_finger_tip_link</gripper_link>
             <gripper_link>${ur5_prefix}robotiq_85_right_finger_tip_link</gripper_link>
           </arm>
       <forces_angle_tolerance>150</forces_angle_tolerance>
       <update_rate>130</update_rate>
       <grip_count_threshold>2</grip_count_threshold>
       <max_grip_count>8</max_grip_count>
       <release_tolerance>0.01</release_tolerance>
       <disable_collisions_on_attach>true</disable_collisions_on_attach>
       <contact_topic>__default_topic__</contact_topic>
     </plugin>
   </gazebo>

    <xacro:ur5_robot prefix="${ur5_prefix}" />
    <xacro:robotiq_85_gripper ur5_prefix="${ur5_prefix}"/>
  </xacro:macro>
</robot>
